body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancle_next{
    margin-top: 70px;
}
input[type=text]{
    width:300px;
    height:40px;
    font-size:20px;
    border:0 
    solid black;
}
input[type=button]{
    width: 60px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: solid 2px grey;
    border-radius: 12px;
    border: 0;
}
.next_btn{
    margin-left: 20px;
    background-color: rgb(64, 244, 184);
    color: white;
    
}