* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-size: 100%;
}

nav {
    display: grid;
    /* flex 보다 더 이후에 나옴*/
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin: 12px;
}

i {
    font-size: 20px;
}

.menu ul {
    margin: 20px 20px 0 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    list-style: none;
}


.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.menu ul i {
    font-size: 30px;
}

.menu ul .btn_icon {
    border: none;
    background-color: white;
}